@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Playfair+Display&family=Urbanist:wght@400;700&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightestgrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(159, 159, 159);
  border-radius: 5px;
}

/* changing input color */

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 500000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 42px rgba(25, 28, 31, 0) inset !important;
  -webkit-text-fill-color: white !important;
}

body {
  background-color: #090707;
  height: 100vh;
}

.rdp {
  background-color: #191c1f;
  color: rgba(255, 255, 255, 0.5);
}

#radix-\:r1\: {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);

  /* border-collapse: separate; */
  outline: 2px solid rgba(255, 255, 255, 0.1);
  outline-offset: 0.02cm;
}
